@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MEYER RESET */

body {
  height: fit-content;
  width: 100vw;
  background-color: #ffffbd;
  font-family: Nerko One, cursive, sans-serif;
}

header {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffd6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

#logo {
  margin-left: 2rem;
}

#logo > img {
  height: 70px;
}

nav {
  margin-right: 2rem;
  font-size: 1.2rem;
}

nav > a {
  margin-right: 1rem;
  color: inherit;
  text-decoration: none;
}

.loading {
  display: flex;
  justify-content: center;
  mix-blend-mode: difference;
}

.loading > img {
  height: 10rem;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 8px #efefa1;
  margin: 3rem;
}

.pokemon-card > h2 {
  height: 30%;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 0.7rem;
  margin-top: 0.5rem;
}

.pokemon-card > img {
  height: 70%;
}